@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-size: 18px;
    color: #001b13;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 150%;
}

@media only screen and (max-width: 720px) {
    * {
        font-size: 14px;
    }
}

@media only screen and (min-width: 721px) {
    img {
        transform: scale(0.75);
    }
}

body {
    
}

header {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 3rem;
    display: block;
    text-decoration: underline;
}

p {
    display: block;
    padding-top: 1rem;
    text-indent: 1rem;
}

ul>li {
    padding-top: 0.3125rem;
    text-indent: 1rem;
    padding-bottom: 1rem;
}

ul.list-style-circle {
    list-style-type: circle;
}

ul.list-style-number {
    list-style-type: number;
}

.code,
.wrong-code {
    display: block;
    padding: 0.5rem;
    border-radius: 0.3125rem;
    white-space: pre-line;
    padding-left: 1rem;


}

.code {
    border: 0.0625rem solid #f2f1f1;
    background-color: #f2f1f1;
}

.wrong-code {
    border: 0.0625rem solid #ffe4ec;
    background-color: #ffe4ec;
}

code {
    background-color: #f2f1f1;
    font-size: 1rem;
    font-family: monospace, monospace;
    border-radius: 0.3125rem;
    display: inline;
    padding: 0.2rem;
}

.material-icons {
    color: red;
    display: inline;
    position: absolute;
    right: 3em;
}

img {
    width: 90%;
    border-radius: 0.3125rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* NavBar allways show when screen width greater or equal 720px*/
@media only screen and (min-width: 721px) {

    li {
        list-style:number;
        color: #ffffff;
    }

    #navbar {
        height: 100vh;
        width: 25rem;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        
    }

    #navbar > header {
        font-size: 1.5rem;
        color: #ffffff;
        padding-left:1rem;
        text-decoration: none;
    }


    .nav-link {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        display: block;
        font-size: 1rem;
        color:#ffffff;
    }

    #navbar li:hover {
        color: #f1f1f1;
    }

    body {
        margin-left: 26rem;
        /* Same as the width of the sidenav */
    }
}